	.navbar{
		background-color: rgb(164, 102, 139);
		/* rgb(164, 102, 160); */
	  	border: none;
	}

	.navbar .navbar-toggler{
		border-color: white;
		color: white;
	}
/* important to remove hover */
	.navbar-brand{
		color: white !important;
		position: relative;
	}

/* underline on hover */
/* https://codepen.io/maheshambure21/pen/QwXaRw */

	.collapse ul.navbar-nav>li>a{
		color: white;
	}

	.collapse ul.stroke>li>a{
		position: relative;
	}

	.collapse ul.stroke>li>a:after{
		  position: absolute;
		  bottom: 0;
		  left: 0;
		  right: 0;
		  margin: auto;
		  width: 0%;
		  content: '.';
		  color: transparent;
		  background: #aaa;
		  height: 1px;
	}

	.collapse ul.stroke>li>a:hover:after{
		width: 100%;
	}


/*HEADER*/
	.header{
		background-image: url('header.jpg');
		 background-attachment: fixed;
		 background-size: cover;
		 background-position: center;
	}

/*might not need?*/
	.overlay{
	 position: absolute;
	 min-height: 100%;
	 min-width: 100%;
	 left: 0;
	 top: 0;
	 /*background: rgba(244, 244, 244, 0.2);*/
	 /*background: rgba(244, 244, 244, 0.79);*/
	}


	.description{
		    position: absolute;
		    top: 40%;
		    left: 5%;
		    margin: auto;
		    padding: 2em;
		    color: white;
		    background: rgba(0, 0, 0, 0.65) ;
	}

/*	.location{
			top: 40%;
		    left: 5%;
		    margin: auto;
		    padding: 2em;
		    color: white;
		    background: rgba(0, 0, 0, 0.65) ;
	}*/

/*ABOUT*/
	.about{
		 margin: 4em 0;
		 padding: 1em;
		 position: relative;
	}

	/*.about .image{
		background-color: yellow;
	}*/
	.about img{
		height: 100%;
		width: 100%;
		border-radius: 10%; 
		/*50% for circle*/
		/*background-color: red;*/
	}

	.about .desc{
		padding: 2em;
		border-left: 4px solid rgb(0,0,0, 0.3);
	}

	.about .desc h1{
		color: rgb(0,0,0, 0.8);
	}

	.about .desc p{
		 line-height:2;
		 color:rgb(0,0,0, 0.5);
		}


/*RESUME*/

.resume {
	background-color: rgb(164, 102, 139, 0.9);
}

.resume>p{
	font-size: 12px;
	color: white;
}


/*WORK EXPERIENCE*/

/*.work0 .left-0{
	background-color: rgb(164, 102, 139, 0.1);
}*/

.work0 .left-0>ul{
	color: rgb(0,0,0, 0.6);
	padding-left: 10%;
}

.work0 .left-0>h3, h6{
	color:rgb(0,0,0, 0.6);
	padding-left: 5%;
}	

.work0 img{
	width: 80%;
	height: 90%;
}

.work .left-1>ul{
	color: rgb(0,0,0, 0.6);
	padding-left: 10%;
}

.work .left-1>h3, h6{
	color:rgb(0,0,0, 0.6);
	padding-left: 5%;
}	

.work1 .left-2>ul{
	color: rgb(0,0,0, 0.6);
	padding-left: 10%;
}
.work1 .left-2>h3, h6{
	color:rgb(0,0,0, 0.6);
	padding-left: 5%;
}

.work .right-1{
	background-color: rgb(164, 102, 139, 0.3);
}
.work img{
	width: 100%;
	height: 100%;
}

.work2 .left-2>ul{
	color: rgb(0,0,0, 0.6);
	padding-left: 10%;
}

.work2 .left-2>h3, h6{
	color:rgb(0,0,0, 0.6);
	padding-left: 5%;
}

.work2 img{
	width: 100%;
	height: 100%;
}

/*ENGINEERING PROJECTS*/

.proj-header h1 .text-muted{
	font-size: 20px;
}

hr{
	width: 35%;
	border-width: 1px;
	background-color: rgb(164, 102, 139, 0.6);
}

.card-deck p{
	color: rgb(0,0,0, 0.6);
}

/*MEDIA*/
.card-group p{
	color: rgb(0,0,0, 0.6);
}




 /* CONTAINER */
	/*  button */
	.btn {
	  background-color: #ffe6f3;
	  border: none;
	  color: #660066;
	  padding: 12px 30px;
	  cursor: pointer;
	  font-size: 17px;
	  text-align: center;
	  font-family: Arial;
	}

	.btn:hover {
	  background-color: #df9fdf;
	  color: white;
	}

/*FOOTER*/
.footer{
	margin-bottom:0;
	background-color: rgb(164, 102, 139, 0.9);
}

.footer #connect{
	font-size: 25px;
	color: white;
}

.footer #copyright{
	font-size: 15px;
	text-align: right;
	color: white;
}
