/* navbar */	
	.navbar-default{
		margin: 0 !important;
	}
	.navbar{
		background-color: white;
	  	border: none;
	}

	.navbar .navbar-toggler{
		border-color: #5D445F;
		color: #5D445F;
	}

	.navbar-brand{
		color: #5D445F !important;
		position: relative;
	}

	.collapse ul.navbar-nav>li>a{
		font-family: Georgia, 'Times New Roman', Times, serif;
		font-weight: bold;
		color: #5D445F;
	}

	.collapse ul.stroke>li>a{
		position: relative;
	}

	.collapse ul.stroke>li>a:after{
		  position: absolute;
		  bottom: 0;
		  left: 0;
		  right: 0;
		  margin: auto;
		  width: 0%;
		  content: '.';
		  color: transparent;
		  background: #5D445F;
		  height: 1px;
	}

	.collapse ul.stroke>li>a:hover:after{
		width: 100%;
	}

	.navbar-item--active a  {
		text-decoration: underline;
		color: #5D445F !important;
		border-bottom: 1px solid #5D445F !important;
		background-image: none !important;
	}

/* home page */
	.addpaddingbtm {
		padding-bottom: 65px;
	}
	.addpaddingtop {
		padding-top: 45px;
	}

	.profile {
		margin-top: 25%;
		display: block;
		margin-left: auto;
		margin-right: auto;
		height: 250px;
		width: 250px;
		object-fit: contain;
	}

	.stanford {
		height: 120%;
		padding-top: 10px;	
		object-fit: fill;
	}

	.homelhs, .aboutrhs, .exprhs > ul, p {
		color: #5D445F;
		font-family: Georgia, 'Times New Roman', Times, serif;
		/* font-size: 1.2vw; */
		font-size: calc(0.7vw + 0.5rem);
	}

	.homelhs > p {
		text-align: center;
	}
	.homelhs #name{
		margin-top: 5%;
		margin-left: 4.5%;
		margin-bottom: 0;
		font-weight: bold;
		/* font-size: 2.5vw; */
		font-size: calc(2vw + 0.5rem);
	}

	.homelhs #pronouns{
		/* font-size: 1.2vw; */
		font-size: calc(0.7vw + 0.5rem);
	}

	.homelhs #resume {
		margin-left: 2%;
		margin-top: 8%;
		margin-bottom: 0;
	}

/* about page */
	.aboutrhs #hello{
		margin-top: 15%;
		margin-bottom: 0;
		font-weight: bold;
		/* font-size: 2.5vw; */
		font-size: calc(2vw + 0.5rem);
	}

	.aboutrhs > ul > p {
		margin-left: -5%;
		margin-bottom: 0;
	}

	.aboutrhs > ul > li {
		margin-left: -2%
	}

/* experience and contact page */
	.explhs > img{
		margin-top: 15%;
		height: 80%;
		width: 80%;
		object-fit: contain;
	}

	.explhs, .exprhs > p, span {
		color: #5D445F;
		font-family: Georgia, 'Times New Roman', Times, serif;
	}
	
	.exprhs #ewo, #sclork {
		margin-top: 15%;
		margin-bottom: 0;
		font-weight: bold;
		/* font-size: 2.5vw; */
		font-size: calc(2vw + 0.5rem);
	}

	.exprhs {
		padding-left: 50px;
	}
	.explhs #ewoweb, #quneo, #kupcakeshop, #sclork2020, #groceryhelper, #lfl {
		width: 100%;
		height: 80%;
	}

	.exprhs #posloc {
		text-align: left;
	}
	.exprhs #timeline {
		float: right;
	}

	.exprhs > ul > li {
		margin-left: -2%
	}

	.contlhs #scudoc {
		margin-top: 15%;
		width: 100%;
		height: 80%;	
	}

	.contlhs #sclorkdoc {
		margin-top: 5%;
		width: 100%;
		height: 90%;	
	}

	.exprhs #cont {
		margin-bottom: 0;
		font-weight: bold;
		/* font-size: 2.5vw; */
		font-size: calc(2vw + 0.5rem);
		margin-top: 0;
	}

	.socials {
		display: flex;
		justify-content: space-evenly;
	}

	.socials span {
		margin: 20px 0px;
		float: left;
	}